body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: Arial, sans-serif;
}

:root {
  --hover-color: #189bec;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
  padding-right: 2rem;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}
a:hover {
  color: var(--hover-color);
  transition: color 0.3s;
}

.personal_links_container {
  display: flex;
  gap: 2.4rem;
  margin-right: 1rem;
}

.personal_links_container i {
  font-size: 2.4rem;
  color: white;
}

.personal_links_container i:hover {
  color: var(--hover-color);
  transition: color 0.3s;
}

.body_container {
  display: flex;

  font-size: 4rem;
}
.headshot {
  max-width: 50%;
  height: auto;
  border-radius: 10%;
}

.text_container {
  margin: 2rem;
}

.text_container h1 {
  margin-bottom: -1rem;
}
